<div class="contacts" ng-class="talk.offCanvasClass()">
    <a href="" class="hidden-lg" ng-click="talk.offCanvasToggle()">
        <h4 class="title">
            <i class="arrow fa fa-arrow-right" ng-show="talk.offCanvasStatus"></i> 
            <i class="arrow fa fa-arrow-left" ng-hide="talk.offCanvasStatus"></i> 
            <span class="text">Contacts</span>
        </h4>
    </a>
    
    <h3 class="title visible-lg">Contacts</h3>
    
    <form ng-submit="contacts.getContacts()" role="form" class="form-group" novalidate>
        <input type="text" class="form-control" ng-model="contacts.filter"/>
        <button type=submit class="btn btn-primary btn-block">Filter</button>
    </form>
    
    <div class="contact-list">
        <a href='' class="contact" ng-repeat="contact in contacts.contacts | filter:contacts.filter | orderBy:'[-online, +username]'" ng-class="contacts.onlineClass(contact)" ng-click="contacts.call(contact)">
            <img class="contact-img img-circle" title="image provided by gravatar.com" gravatar-src="contact.email" gravatar-size="100"/>
            <h4 class="contact-name">{{ contact.username }}</h4>
        </a>
    </div>
</div>