<a class="front-user" href="#/settings" ng-show="nav.auth">{{ app.session.username }} <i class="fa fa-cog"></i></a>

<div class="container">
  <div class="jumbotron text-center">
    <h1>realtalk.</h1>
    <p>real talk in real time</p>
    
    <!-- Authorized nav bar -->
    <div ng-show="nav.auth">
      <a href="#/talk" class="btn btn-danger"><i class="fa fa-comments-o"></i> start talking!</a>
      <a href="#/find" class="btn btn-default"><i class="fa fa-user"></i> add contacts</a>
      <a href="#/signout" class="btn btn-primary"><i class="fa fa-sign-out"></i> sign out</a>
    </div>
    <!-- Not authorized nav bar -->
    <div ng-hide="nav.auth">
      <a href="#/signin" class="btn btn-default"><i class="fa fa-sign-in"></i> sign in</a>
      <a href="#/signup" class="btn btn-default"><i class="fa fa-user"></i> sign up</a>
    </div>

  </div>
</div>