<div class="animate col-sm-10 col-xs-12 col-sm-offset-1" id="message" ng-class="msg.width()"
id="message">
    <form role="form">
        <h3 id="event-header">{{ msg.message.header }}</h3>
        <p>{{ msg.message.text }}</p>
        <div class="row event-btns">
            <div class="col-sm-6" ng-show="msg.message.yesBtn.onClick">
                <button class="btn btn-block btn-success" ng-click="msg.message.yesBtn.onClick()">{{ msg.message.yesBtn.value }}</button>
            </div>
            <div class="col-sm-6" ng-show="msg.message.noBtn.onClick">
                <button class="btn btn-block btn-danger" ng-click="msg.message.noBtn.onClick()">{{ msg.message.noBtn.value }}</button>
            </div>
        </div>
    </form>
</div>