<div class="find">
  <nav></nav>
  
  <div class="container body">
    <form class="form-search" ng-submit="find.findUsers()" role="form" novalidate>
      <div class="input-group">
        <label for="filter">Find users to add to your contacts</label>
        <input type="text" name="filter" class="form-control" ng-model="find.filter"/>
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    <div class="row">
        <div ng-repeat="user in find.users" class="col-md-3 user"><div class="card">
          <img id="user-img" title="image provided by gravatar.com" gravatar-src="user.email" class="center img-circle" />
          <h3 class="username">{{ user.username }}</h3>
          <button type="button" class="btn btn-success btn-block" ng-click="find.addUser(user.username)"><i class="fa fa-plus"></i> Add Contact</button>
        </div></div>
        <div ng-hide="find.users.length" class="card">
          <h3>Enter a filter to search for users!</h3>
        </div>
    </div>
  </div>
</div>