<div class="front">
<homenav></homenav>

<div class="body-back">
  <div class="container body">
    <div class="row">
      <div class="col-sm-4">
        <h3>real immediate</h3>
        <p>In a normal chat app, you compose a message, then send it - basically
          really fast letter writing.
          <span class="tw">realtalk. </span>is different. It sends each character you type, as you
          type it. It all happens in real time, letting you talk over each other
          and finish each other's sentances, - just like when you're actually talking
          to someone.</p>
        <p>True, it isn't always the most efficient. But it's real conversation,
          and that's a rare thing for text.</p>
      </div>
      <div class="col-sm-4">
        <h3>real temporary</h3>
        <p>Where we're going, we don't need chat logs. You've got a box showing the
          last 50 characters you typed, and another showing the last 50 characters
          your friend typed. The server's got nothing. That's it.</p>
        <p>In real time, a conversation moves pretty quickly. So if you want to keep
          up, you've got to be paying attention. Sometimes, that's not practical.
          But when you really want to talk to someone, needing to keep the other
          browser tabs closed is kind of nice.</p>
      </div>
      <div class="col-sm-4">
        <h3>real mobile</h3>
        <p>
          <span class="tw">realtalk. </span>isn't just for desktop. This webapp
          is built mobile-first and works great on your smartphone, you you can 
          grab the Android app for (planned) notifications. Since you're
          typing in real-time, autocorrect is disabled, so you've got nobody to 
          blame but Freud when you "mistype" something.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <h1>make the call</h1>
        <p>To get started, create an account or sign in with your username
          and password.through Under settings, you can add your email and name
          it easier for your friends to find you. Your email also pulls a profile
          picture from <a href="http://gravatar.com">gravatar.com</a> for you,
          if you have one.</p>
        <p>To find your friends, go to the Add Contacts page and search by 
          username, email, or first or last name. Click Add Contact to add
          someone to your contacts list.
        </p>
        <p>To get talking, go to the Talk page. While your on this page, you'll
          be marked as available to talk. You can filter your friends list, 
          and anyone not online will be greyed out.</p>
        <p>Think of connecting like making a phone call. Click on a contact's
          name, and <span class="tw">realtalk.</span> will ring them. 
          They can choose to pick up or say they're
          unavailable. If they pick up, you're connected, and the chat boxes will
          slide in. Start typing! To end the chat, click Quit, pick up another 
          incoming call, or start chatting with someone else.</p>
      </div>
      <div class="col-sm-4">
        <img title="screencap" src="images/cap_ring.jpg">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8  col-sm-push-4">
        <h1>talking, not chatting</h1>
        <p>Once you're talking with someone, there's not much to know. Type, and
          your text will be sent in real-time to your friend. Hit backspace to remove
          a character, and Enter to clear your box. Then, have fun!</p>
        <p>Using
          <span class="tw">realtalk.</span> is different than chatting, so you shouldn't go in expecting
          it to do the same things. This isn't an app for multitasking. It's like
          talking in person; it can be done, but the person on the other end will
          notice. Instead, this is an app for really talking. Try it for a while,
          and you'll see how much give-and-take is missing for the compose, re-read,
          send style of chatting.</p>
      </div>
      <div class="col-sm-4  col-sm-pull-8">
        <img title="screencap" src="images/cap_talk.jpg">
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-8">
        <h1>record-less. really?</h1>
        <p>Yep, really. Here's how it works: When you type a character, your browser
          throws away what you typed 51 characters ago, displays what you typed,
          and fires it off to the server. The server passes it directly to your friend
          without writing anything to disk. When you friend receives it, their browser
          throws out your 51st character too, and displays the new one. The power
          of modern technology lets all that happen within milliseconds, and when
          you press Enter or quit the chat, it's just all gone, because the text
          only lived on your browsers to begin with.</p>
        <p>So speak freely! Nobody's taking notes.</p>
        <p>Also, your communication with the server is encryped with SSL.
          That means that your username, password, and whatever weird stuff
          you want to talk about is protected from busy-bodys trying to
          listen in.</p>
      </div>
      <div class="col-sm-4">
        <img title="screencap" src="images/code.jpg">
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-8 col-sm-push-4">
        <h1>the technology</h1>
        <p>
          <span class="tw">realtalk.</span> uses the power of node.js and socket.io to do its work.</p>
        <p>
          <a href="http://nodejs.org">Node</a> is a platform that runs Javascript 
          on the server for fast, asynchronous input/output. 
          It's perfect for applications with a lot of I/O
          and relativly little computation.</p>
        <p>
          <a href="http://socket.io">socket.io</a> is a library for Node that 
          makes two-way communication between a you and a server
          easy and cross-browser.</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8">
        <div class="row">
          <a href="http://nodejs.org"><img title="screencap" src="images/logo-nodejs.png"></a>
          <a href="http://socket.io"><img title="screencap" src="images/logo-socket.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
</div>